<%- include("header.ejs") %>

    <p>
        This a responsive bolg web application where the user can simply post his blogs and view it.<br>
        A Blog can be posted using the <strong>New blog</strong> button at the top right corner of the website where the user can fill in the details required to post a new blog.<br>
        After a user posts a new bolg, he can see it listed on the updated <i>home page</i> where he can go to using the app icon at the top left corner of the website.
    </p>

    <p>
        I made this website using my knowledge of frontend development using <i>EJS</i> for dynamic html and <i>bootstrap</i>, a CSS framework
        as well as my knowledge of backend web development using javascript backend frameworks <i>expressJS</i> and <i>nodeJS</i>.
    </p>

<%- include("footer.ejs") %>