<%- include("header.ejs") %>

<section class="posting-form">
    <form action="/posted" method="post" class="post-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Author name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="author" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" name="title" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Blog Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="blog" required></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary rounded-pill px-3" type="submit" value="OK">Post</button>
        </div>
    </form>
</section>

<%- include("footer.ejs") %>